.sampleTriangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-top-width: 50px;
  border-top-style: solid;
  border-top-color: transparent;
  border-right-width: 50px;
  border-right-style: solid;
  border-right-color: #f00;
}
