.repositioningHandle {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  background-color: transparent;
  border: 1px solid black;
  touch-action: none;
  user-select: none;
}
