.tabBar {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    padding: 5px;
    border-spacing: 0;

    & > .headRow {
        height: 70px;

        & > td {
            text-align: center;
            border-left: 1px solid black;
            border-top: 1px solid black;
            border-right: 1px solid black;
            background-color: lightgrey;
            padding-right: 1px;
            vertical-align: center;

            &.active {
                background-color: white;
            }
        }
    }

    & > .contentRow > td {
        vertical-align: center;
        border: 1px solid black;
        height: 100%;
    }
}